/* styles.css */
/* universal selector - Applies to whole document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/* To center everything in game */
.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
 
h2{
    color: green !important;
    font-size: 3rem;
}
/* Title of the game */
.title{
    position: absolute;
    top: 50px;
    font-size: 4rem;
    z-index: 2;
    color: greenyellow;
}
 
/* Score Board */
.score{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 150px;
    font-size: 2.5rem;
    z-index: 1;
    background-image: url(https://www.istockphoto.com/photo/stone-black-texture-background-dark-cement-wall-gm1318101781-405336371?utm_source=unsplash&utm_medium=affiliate&utm_campaign=srp_photos_top&utm_content=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fblack&utm_term=black%3A%3Asearch-explore-top-affiliate-outside-feed-x-v2%3Acontrol);
}
/* Score  */
.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
 
/* displaying three buttons in one line */
.options{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}
 
/* Styling on all three buttons */
.rock, .paper, .scissor{
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: yellow;
    outline: none;
    color: black;
    border-color: yellow;
    border: none;
    cursor: pointer;
    font-size: large;
}
 
.move{
    font-size: 2rem;
    font-weight: bold;
    margin: 100px auto;
}
 
/* Reload button style */
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: yellow;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: large;
}
 
.result{
    margin-top: 20px;
    font-size: 4.2rem;
    color: lawngreen;
}
 
/* Responsive Design */
@media screen and (max-width: 612px)
{ 
    .title{
        text-align: center;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options{
        width: 100vw;
    }
}